In [2]:
#DATA TAKEN FROM UCI ML REPO
#https://archive.ics.uci.edu/ml/datasets/Caesarian+Section+Classification+Dataset

#@attribute 'Age' { 22,26,28,27,32,36,33,23,20,29,25,37,24,18,30,40,31,19,21,35,17,38 }
#@attribute 'Delivery number' { 1,2,3,4 }
#@attribute 'Delivery time' { 0,1,2 } -> {0 = timely , 1 = premature , 2 = latecomer}
#@attribute 'Blood of Pressure' { 2,1,0 } -> {0 = low , 1 = normal , 2 = high }
#@attribute 'Heart Problem' { 1,0 } -> {0 = apt, 1 = inept }
#OUTPUT:
#@attribute Caesarian { 0,1 } -> {0 = No, 1 = Yes }

import pandas as pd
import numpy as np

In [4]:
name=pd.read_csv("caeserian.csv",header=None)

In [6]:
temp=['Age','Delivery number','Delivery time' ,'Blood of Pressure','Heart Problem','Caeserian']

In [7]:
name.columns=temp

In [8]:
name

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caeserian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1
...,...,...,...,...,...,...
75,27,2,1,1,0,0
76,33,4,0,1,0,1
77,29,2,1,2,0,1
78,25,1,2,0,0,1
79,24,2,2,1,0,0

In [21]:
#splitted into input and output labels
X=name.iloc[:,:-1]
Y=name.iloc[:,-1]

In [22]:
#splitted into test and training sets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)

In [12]:
#MODEL: SINGLE LAYER PERCEPTRON
from sklearn.linear_model import Perceptron

In [23]:
#eta= learning rate
#n_iter_no_change= epochs
ppn = Perceptron(n_iter_no_change=50, eta0=0.1, random_state=0)

In [24]:
#fitted training set to model
ppn.fit(x_train,y_train)

Perceptron(eta0=0.1, n_iter_no_change=50)

In [25]:
#evaluate using test set
predicted=ppn.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix,classification_report

In [26]:
#correct and wrongly predicted values
confusion_matrix(y_test,predicted)

array([[10,  2],
       [ 4,  8]], dtype=int64)

In [27]:
#accuracy of 75% obtained
print(classification_report(y_test,predicted))

              precision    recall  f1-score   support

           0       0.71      0.83      0.77        12
           1       0.80      0.67      0.73        12

    accuracy                           0.75        24
   macro avg       0.76      0.75      0.75        24
weighted avg       0.76      0.75      0.75        24